body {
    margin: 0px;
}

.d-flex {
    display: flex;
}

.container {
    margin: auto;
    max-width: 1000px;
}

.j-content {
    justify-content: space-between;
}

.navlist {
    justify-content: space-between;
    color: rgb(255, 237, 237);
    text-decoration-line: none;
}

.background {
    background-color: rgb(22, 20, 20);
}

.font {
    font-family: "Epilogue", sans-serif;
    color: rgb(255, 237, 237);
}

.fontd {
    font-family: "Epilogue", sans-serif;
}

.padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-align {
    align-content: center;

}

#Devis {
    padding: 15px;
    background-color: rgb(255, 237, 237);
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-size: 17px;
}

#paraheader {
    font-size: 17.33327865600586px;
}

#meow {
    font-size: 60px;
}

#titre {
    font-size: 20px;
    font-style: bold;
}

#para {
    font-size: 14px;
    margin-bottom: 30px;
}

.bonjourjessica {
    padding: 15px;
    font-size: 17px;
}


.serv {
    flex-direction: row;
}

.text-align {
    text-align: center;
}

.logos {
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    padding: 40px;

}


.headerbtn {
    margin-top: 10px;
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.item {
    width: 30%;
    margin-bottom: 40px;
}

.item img {
    width: 100%;
    height: auto;
}

.item h3 {
    margin-top: 15px;
    font-size: 15px;
}

.item p {
    margin-top: 10px;
    font-size: 14px;
}

.tmw {
    justify-content: space-between;
    margin-top: 40px;
    gap: 100px;
}

.tc {
    width: 30%;
    background-color: rgb(245, 245, 245);
    padding: 25px;
    font-size: 14px;
}

.tc p {
    line-height: 22px;
}

.profil {
    margin-top: 20px;
    align-items: center;
    gap: 15px;
}

.profil img {
    width: 45px;
    height: 45px;
}

.identite h3 {
    margin: 5px 0 0;
    font-size: 15px;
}

.identite p {
    margin: 3px 0 0;
    font-size: 13px;
}

.width {
    width: 350px;
}

.f-direction {
    flex-direction: column;
    gap: 20px;
}

.padding-footer {
    margin-bottom: 20px;
}